<div class="container">
    <div class="row">
        <div class="col-8">
            <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
                <agm-marker *ngFor="let hotspot of this.hotspotList" [latitude]="hotspot.latitude" [longitude]="hotspot.longitude"></agm-marker>
            </agm-map>
        </div>
        <div class="col-4">
            <div class="row">
                <div class="col-6">
                    <mat-form-field>
                        <input matInput [(ngModel)]="newHotspot.SSID" name="ssid" placeholder="SSID">
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field>
                        <input matInput [(ngModel)]="newHotspot.name" name="name" placeholder="Name">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <mat-form-field>
                        <input matInput type="number" [(ngModel)]="newHotspot.latitude" name="latitude" placeholder="Latitude">
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field>
                        <input matInput type="number" [(ngModel)]="newHotspot.longitude" name="longitude" placeholder="Longitude">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6">
                    <mat-form-field>
                        <input matInput [(ngModel)]="newHotspot.tag" name="tag" placeholder="Tag">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-3"></div>
                <div class="col-9">
                    <button style="text-align:center" mat-raised-button color="primary" (click)="addHotspot(this.newNoteField)">Add Hotspot</button>
                </div>
            </div>
            <div class="row" style="margin-top:10px;max-height:50vh;overflow-y:auto;width:100%">
                <div style="margin:5px 0px;width:100%" *ngFor="let hotspot of this.hotspotList">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>
                                <strong>Hotspot - {{hotspot.tag}}</strong>
                            </mat-card-title>
                            <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
                        </mat-card-header>
                        <mat-card-content>
                            <div class="row">
                                <div class="col-6">
                                    SSID:{{hotspot.SSID}}
                                </div>
                                <div class="col-6">
                                    Name:{{hotspot.name}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    Latitude:{{hotspot.latitude}}
                                </div>
                                <div class="col-6">
                                    Longitude:{{hotspot.longitude}}
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>